[Desktop Entry]
Name=Venera Prime
GenericName=Venera Prime
Comment=Venera Prime
Terminal=false
Type=Application
Categories=Utility
Keywords=Flutter;comic;images;
Icon=venera
